POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=5000

SYNC_FREQUENCY=minutely

WB_TARIFFS_BOX_URL=https://common-api.wildberries.ru/api/v1/tariffs/box
WB_API_TOKEN=

ARCHIVE_DAYS=30

GOOGLE_SERVICE_ACCOUNT_JSON=